{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Deleting <span class="text-primary">{{ category.name }}</span>. Are you sure?</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method='POST' action="{{ url_for('category_delete', category_id=category.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-danger">Yes, delete it!</button>
            <a href="{{ url_for('index') }}" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}