{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="/item/new/{{ category.id }}"><i class="fas fa-plus"></i> New Item</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>{{ category.name }} - Items</h2>
        <div class="card-columns">
        {% for i in items %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">{{ i.description }}</p>
                <a href="#" class="btn btn-primary"><i class="fas fa-list-ul"></i> View</a>
                <a href="#" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit</a>
                <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}