{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    {% if has_add_permission %}
        <a class="btn btn-success" href="{{ url_for('item_new', category_id=category.id) }}"><i class="fas fa-plus"></i> New Item</a>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>{{ category.name }} - Items</h2>
        <div class="card-columns">
        {% for i in items %}
            <div class="card" style="height: 150px;">
                <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <p class="card-text">{{ i.description }}</p>
                <a href="#" class="btn btn-primary"><i class="fas fa-list-ul"></i> View</a>
                {% if i.gplus_id == session['gplus_id'] %}
                    <a href="{{ url_for('item_edit', category_id=category.id, item_id=i.id) }}" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit</a>
                {% endif %}
                {% if i.gplus_id == session['gplus_id'] %}
                    <a href="{{ url_for('item_delete', category_id=category.id, item_id=i.id) }}" class="btn btn-outline-danger">Delete</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}