<!doctype html>
<html itemscope itemtype="http://schema.org/Article" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Catalog App">
    <meta name="author" content="Lucas Klassmann">
    <title>Catalog App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="catalog-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Catalog App</h1>
      <p class="lead">
        Use this app for organize your catalog of items.
      </p>
      {% if session['picture'] %}
        <img class="img-thumbnail rounded-circle" width="120" src="{{ session['picture'] }}">
        <p></p>
        <p class="lead text-muted">Hello, {{ session['username'] }}</p>
        <button class="btn btn-outline-danger" id="signoutButton">Sign out</button>
      {% else %}
        <button class="btn btn-outline-primary" id="signinButton">Sign in with Google</button>
      {% endif %}
    </div>

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-primary">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
              <div class="col-12 col-md">
                <a href="https://github.com/klassmann">Lucas Klassmann</a>
                <small class="d-block mb-3 text-muted">&copy; 2018</small>
              </div>
              <div class="col-10 col-md">
                <h5>API</h5>
                <ul class="list-unstyled text-small"><li>GET <a class="text-muted" href="{{ url_for('api_catalog')}}">/api/catalog.json</a></li></ul>
              </div>
          </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '403813662491-pq1ltu37h3cto1n8e5qanj92g6bgv7ho.apps.googleusercontent.com',
          });
        });
      }
      
      $('#signoutButton').click(function(){
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            window.location.assign('/google/disconnect/');
          });
      });

      $('#signinButton').click(function() {
        auth2.grantOfflineAccess().then(signInCallback);
      });

      function signInCallback(authResult) {
        if (authResult['code']) {
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/oauthcallback/google/?state={{ session["state"] }}',
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              window.location.assign('/');
            },
            processData: false,
            data: authResult['code']
          });
        } else { }
      }
    </script>
  </body>
</html>