{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="/category/new/"><i class="fas fa-plus"></i> New Category</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <div class="card-columns">
        {% for c in categories %}
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{ c.name }}</h5>
                <p class="card-text">{{ c.description }}</p>
                <a href="/category/{{ c.id }}" class="btn btn-primary"><i class="fas fa-list-ul"></i> View</a>
                <a href="#" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit</a>
                <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}