{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    {% if has_add_permission %}
        <a class="btn btn-success" href="/category/new/"><i class="fas fa-plus"></i> New Category</a>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <div class="card-columns">
        {% for c in categories %}
            <div style="height: 150px;" class="card">
                <div class="card-body">
                <h5 class="card-title">{{ c.name }}</h5>
                <p class="card-text">{{ c.description }}</p>
                <a href="{{ url_for('category_view', category_id=c.id) }}" class="btn btn-primary"><i class="fas fa-list-ul"></i> View</a>

                {% if c.gplus_id == session['gplus_id'] %}
                    <a href="{{ url_for('category_edit', category_id=c.id) }}" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit</a>
                {% endif %}

                {% if c.gplus_id == session['gplus_id'] %}
                    <a href="{{ url_for('category_delete', category_id=c.id) }}" class="btn btn-outline-danger">Delete</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}