{% extends "base.html" %}

{% block content %}
    <div class="login-deck card-deck mb-1 text-center">
        <div class="card mb-1 box-shadow">
            <div class="card-header">
            <h4 class="my-0 font-weight-normal">Log In</h4>
            </div>
            <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Google</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Facebook</button>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Github</button>
            </div>
        </div>
    </div>
{% endblock %}